body {
  background-color: #565e9c
}

.card {
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.card-title {
  font-weight: bold;
  color: #333;
}

.like-btn {
  font-size: 18px;
  transition: 0.2s;
}

.like-btn:hover {
  color: red;
}
